/*
 * Part of the hugo-fuse-search project
 * https://github.com/theys96/hugo-fuse-search/
 * License: https://github.com/Theys96/hugo-fuse-search/blob/master/LICENSE
 * 
 * Note: contains parts of code still remaining from the original code this
 * program is based on. Author: Craig Mod.
 * https://gist.github.com/cmod/5410eae147e4318164258742dd053993
*/


/* 
 * topSearchbar 
 */

#fuse-search-top-searchbar { 
  visibility: hidden;
  position: absolute;
  display: block;
  width: 320px;
  z-index: 50;
  padding: 5px;
  box-sizing: content-box;
  background-color: rgba(0,0,0,0.5);
}

.fuse-search-top-searchbar-, .fuse-search-top-searchbar-right {
  right: 5px;
  top: 5px;
}

.fuse-search-top-searchbar-left {
  left: 5px;
  top: 5px;
}

.fuse-search-top-searchbar-center {
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

input#fuse-search-top-searchbar-input {
  width: 100%;
  font-size: 1.5em;
  color: #ccc;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  border: none;
}

#fuse-search-top-searchbar-results { 
  visibility: inherit; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
}

#fuse-search-top-searchbar-results::before {
  font-weight: bold;
  color: #fff;
  content: "...";
  text-align: center;
  display: inline-block;
  width: 100%;
}

#fuse-search-top-searchbar-results li { 
  list-style: none; 
  margin-left: 0em;
}

#fuse-search-top-searchbar-results a { 
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #777;
  background-color: rgba(0,0,0,0.3);
  padding-bottom: 10px;
}

#fuse-search-top-searchbar-results a:hover, 
#fuse-search-top-searchbar-results a:focus { 
  color: #fff !important;
  background-color: #666 !important;
}

#fuse-search-top-searchbar-results li .title {
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  display: inline-block;
  box-sizing: content-box;
}

#fuse-search-top-searchbar-results li .text {
  display: inline-block;
  padding-left: 20px;
  box-sizing: content-box;
}


/* 
 * fullscreenSearchbar 
 */
#fuse-search-fullscreen-searchbar { 
  visibility: hidden;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10vw;
  z-index: 50;
  box-sizing: border-box;
  text-align: center;
}


.fuse-search-fullscreen-searchbar-, .fuse-search-fullscreen-searchbar-dark {
  background-color: rgba(0,0,0,0.7);
}
.fuse-search-fullscreen-searchbar- input#fuse-search-fullscreen-searchbar-input, .fuse-search-fullscreen-searchbar-dark input#fuse-search-fullscreen-searchbar-input {
  color: #ccc;
  background-color: black;
}
.fuse-search-fullscreen-searchbar- a#fuse-search-fullscreen-searchbar-close, .fuse-search-fullscreen-searchbar-dark a#fuse-search-fullscreen-searchbar-close {
  color: white;
  border: 1px solid white;
  background-color: rgba(0,0,0,0);
}
.fuse-search-fullscreen-searchbar- a#fuse-search-fullscreen-searchbar-close:hover, .fuse-search-fullscreen-searchbar-dark a#fuse-search-fullscreen-searchbar-close:hover {
  background-color: #666;
}
.fuse-search-fullscreen-searchbar- #fuse-search-fullscreen-searchbar-results li .title,
.fuse-search-fullscreen-searchbar-dark #fuse-search-fullscreen-searchbar-results li .title {
  color: #fff;
}
.fuse-search-fullscreen-searchbar- #fuse-search-fullscreen-searchbar-results a,
.fuse-search-fullscreen-searchbar-dark #fuse-search-fullscreen-searchbar-results a { 
  color: #777;
}
.fuse-search-fullscreen-searchbar- #fuse-search-fullscreen-searchbar-results a:hover, 
.fuse-search-fullscreen-searchbar- #fuse-search-fullscreen-searchbar-results a:focus,
.fuse-search-fullscreen-searchbar-dark #fuse-search-fullscreen-searchbar-results a:hover, 
.fuse-search-fullscreen-searchbar-dark #fuse-search-fullscreen-searchbar-results a:focus { 
  color: #fff !important;
  background-color: #666 !important;
}


.fuse-search-fullscreen-searchbar-light {
  background-color: rgba(255,255,255,0.7);
}
.fuse-search-fullscreen-searchbar-light input#fuse-search-fullscreen-searchbar-input {
  color: black;
  background-color: white;
}
.fuse-search-fullscreen-searchbar-light a#fuse-search-fullscreen-searchbar-close {
  color: white;
  border: 1px solid white;
  background-color: #777;
}
.fuse-search-fullscreen-searchbar-light a#fuse-search-fullscreen-searchbar-close:hover {
  background-color: black;
}
.fuse-search-fullscreen-searchbar-light #fuse-search-fullscreen-searchbar-results li .title {
  color: black;
}
.fuse-search-fullscreen-searchbar-light #fuse-search-fullscreen-searchbar-results a { 
  color: #779;
}
.fuse-search-fullscreen-searchbar-light #fuse-search-fullscreen-searchbar-results a:hover, 
.fuse-search-fullscreen-searchbar-light #fuse-search-fullscreen-searchbar-results a:focus { 
  color: black;
  background-color: rgba(200,200,200,0.8);
}


input#fuse-search-fullscreen-searchbar-input {
  width: 80%;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 3px;
}

a#fuse-search-fullscreen-searchbar-close {
  float: left;
  font-size: 32px;
  line-height: 28px;
  border-radius: 50% 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 3px;
  box-sizing: border-box;
}

a#fuse-search-fullscreen-searchbar-close:hover {
  background-color: #666;
  cursor: pointer;
}

#fuse-search-fullscreen-searchbar-results { 
  visibility: inherit; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
}

#fuse-search-fullscreen-searchbar-results::before {
  font-weight: bold;
  color: #fff;
  content: "...";
  text-align: center;
  display: inline-block;
  width: 100%;
}

#fuse-search-fullscreen-searchbar-results li { 
  list-style: none; 
  margin-left: 0em;
}

#fuse-search-fullscreen-searchbar-results a { 
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
}

#fuse-search-fullscreen-searchbar-results li .title {
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  display: inline-block;
  box-sizing: content-box;
}

#fuse-search-fullscreen-searchbar-results li .text {
  display: inline-block;
  padding-left: 20px;
  box-sizing: content-box;
}


/* 
 * inlineSearchbar 
 */

#fuse-search-inline-searchbar { 
  visibility: hidden;
  position: absolute;
  display: block;
  max-width: 280px;
  z-index: 50;
  padding: 5px;
  box-sizing: content-box;
}

input#fuse-search-inline-searchbar-input {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  padding: 3px;
  border-radius: 3px;
}

#fuse-search-inline-searchbar-results { 
  visibility: inherit; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
  margin-top: 10px;
}

#fuse-search-inline-searchbar-results li { 
  list-style: none; 
  margin-left: 15px;
  padding-left: 5px;
  border-left: 1px dashed white;
}

#fuse-search-inline-searchbar-results a { 
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #777;
  padding-bottom: 10px;
}

#fuse-search-inline-searchbar-results a:hover, 
#fuse-search-inline-searchbar-results a:focus { 
  color: #fff !important;
}

#fuse-search-inline-searchbar-results li .title {
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  display: inline-block;
  box-sizing: content-box;
}

#fuse-search-inline-searchbar-results li .text {
  display: inline-block;
  padding-left: 20px;
  box-sizing: content-box;
}


